/.idea/*
/PythonCoreConcept/bin
/PythonCoreConcept/obj
/TestPythonCoreConcept/bin
/TestPythonCoreConcept/obj
/PythonCoreConcept.sln.DotSettings.User
/global.json
/.idea/.idea.PythonCoreConcept/.idea/indexLayout.xml